<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- ETABS 22. If the path does not exist the newest installed ETABS is used. -->
    <add key="ETABSProgramPath" value="C:\Program Files\Computers and Structures\ETABS 22\ETABS.exe" />
    <add key="SectionPropertyDataPath" value="C:\Program Files\Computers and Structures\ETABS 22\Property Libraries\AISC16M.xml" />
  </appSettings>
</configuration>
